.offer-price__label {
  border-radius: 0.6rem 0 0 0.6rem;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 9rem;
  align-self: center;
  padding: 1rem;
  border: 0.1rem solid #999;
  border-right: 0;
  text-align: center;
}

.offer-price__input {
  position: relative;
  right: -8.5rem;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 10rem;
  align-self: center;
  padding: 1.2rem;
  text-align: center;
  border: 0.1rem solid #999;
  border-right: 0;
  font-size: 1.5rem;
}

.offer-price__input-currency {
  position: relative;
  right: -18.5rem;
  align-self: center;
  padding: 1rem;
  text-align: start;
  border: 0.1rem solid #999;
  border-left: 0;
  border-radius: 0 0.6rem 0.6rem 0;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 3.5rem;
}

.offer-price__input--disabled,
.offer-price__input-currency--disabled,
.offer-price__label--disabled {
  color: #D0D0D0;
  border-color: #D0D0D0;
  background-color: #E6E8FA;
}

.offer-price__error-message {
  font-size: 1.3rem;
  color: #F92828;
  grid-column: 1/2;
  grid-row: 5/6;
}
